# Build/artifact directory
/target

*.iml

# Mac
.DS_Store

# IntelliJ
/.idea

# UI directories
/src/main/ui/node_modules
/src/main/ui/build
/src/main/ui/examples/office-addin/My Office Add-in/node_modules
