#joinsDiv {
    clear: both;
}

#joinsDiv * {
    margin: 2%;
}

#joinsDiv select {
    width: 20%;
}

#joinsDiv image {
    width: 20%;
    height: 15%;
}

.join-row {
    text-align: center;
}

.delete-join-button {
    float: right;
}

.join-image {
    width: 10%;
}
